@page "/MathFormulas"

<PageTitle>MathFormulas</PageTitle>

<h3>Math Formulas</h3>

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-3 rz-shadow-2">
            <RadzenText TextStyle="TextStyle.H5">Basic formulas of elementary mathematics</RadzenText>
            <RadzenImage Path="img/math-img/math-img-1.jpg" Style="width: 100%;" />
        </div>
        <div class="col-3 rz-shadow-2">
            <RadzenText TextStyle="TextStyle.H5">Basic properties of mathematical square roots</RadzenText>
            <RadzenImage Path="img/math-img/math-img-2.jpg" Style="width: 100%;" />
        </div>
        <div class="col-3 rz-shadow-2">
            <RadzenText TextStyle="TextStyle.H5">Properties of logarithms</RadzenText>
            <RadzenImage Path="img/math-img/math-img-3.jpg" Style="width: 100%;" />
        </div>
    </div>
</div>
