@page "/MathFormulas"
@using Components;

<PageTitle>MathFormulas</PageTitle>

<h3>Математичні формули</h3>

<div class="container-fluid">
    <div class="row justify-content-around">
        <MySchoolCalcClient.Components.MathFormulasLayout Path="img/math-img/math-img-1.jpg" Text="Основні формули елементарної математики" />

        <MySchoolCalcClient.Components.MathFormulasLayout Path="img/math-img/math-img-2.jpg" Text="Основні властивості математичних квадратних коренів" />

        <MySchoolCalcClient.Components.MathFormulasLayout Path="img/math-img/math-img-3.jpg" Text="Властивості логарифмів" />
    </div>
</div>
